body{
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    background: linear-gradient(135deg, #0f3f7d, #243b5a);
}

/* MAIN CONTAINER */
.welcome-container {
    max-width: 900px;
    width: 80%;
    padding: 60px;
    background-color: #f4f7fb;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);
    margin: 30px 0;
}

/* HEADER */
.header{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header h1{
    color: #243b5a;
}

.header h3{
    margin-bottom: 10px;
    color: #6b7280;
    margin-top: 10px;
    line-height: 0.8;
}

.header p{
    margin-top: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #4b5563;
}

/* BUTTON GROUP */
.btn-grp{
    margin-top: 25px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.btn-grp .row {
    display: flex;
    gap: 20px;
    margin-bottom: 16px;
}

.btn-grp button {
    padding: 10px 22px;
    font-size: 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition:
        transform 0.2s ease,
        box-shadow 0.2s ease,
        background 0.25s ease;
}

/* PRIMARY BUTTONS */
.btn-grp .Sign-In,
.btn-grp .Sign-Up {
    background: #243b5a;
    color: #ffffff;
}

/* HOVER EFFECTS */
.btn-grp button:hover{
    transform: translateY(-2px);
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
}

/* GUEST BUTTON */
.btn-grp .try-as-guest{
    background-color: #f2994a;
    color: #ffffff;
    margin-bottom: 20px;
}

.btn-grp .try-as-guest:hover{
    background: #e38b35;
}

/* FEATURE BOXES */
.box-row {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.container {
    width: 180px;
    padding: 15px;
    border-radius: 10px;
    background: rgb(203, 241, 253);
    color: #111;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.container h3 {
    color: #243b5a;
    margin-bottom: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container p {
    margin: 0;
    font-size: 13px;
    color: #4b5563;
    line-height: 1.6;
    
}

/* FOOTER */
.bottom{
    margin-top: 23px;
}

.bottom p{
    font-size: 10px;
    line-height: 0.5;
    color: #6b7280;
}

.no-account{
    font-size: 12px;
}