<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='analysis.css') }}">
    <title>analysis</title>
</head>
<body>

<div class="container">
    <h1>Analysis</h1>

        <div class="form_boxes">

            <div class="job_box">
                <label for="job_description">Job Description:</label>
                <textarea id="job_description" name="job_description"
                    placeholder="Paste the job description here..."
                    rows="28" cols="70"></textarea>
                <br>
                <input type="file" name="job_file">
            </div>

            <div class="resume_box">
                <label for="resume">Resume:</label>
                <textarea id="resume" name="resume"
                    placeholder="Paste your resume here..."
                    rows="28" cols="70"></textarea>
                <br>
                <input type="file" name="resume_file">
            </div>

        </div>

        <button type="submit">Analyze</button>
    </form>
</div>

</body>
</html>
